body{
    font-family: "Lato",sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CDD3D5;
}
  .menuoculto{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
   .menuoculto a{
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #888;
 display: block;
 transition: 0.3s;
   }
    .menuoculto a:hover{
        color: #fff;
    }
     .sla{
        position: absolute;
        top: 0;
        right: 25px;
     }
     h2{
        text-align: center;
     }
     html{
      height: 500vh;
     }
     .container{
      max-width: 1280px;
      margin: auto;
     }
     .flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
     }
     .banner{
      
     }
     *{
      margin:0;
      padding: 10;
      box-sizing: border-box;
     }
     header{
      width: 200%;
      height: 800px;
      background-color: #716A5C;
     }
     h1{
      background-color: #716A5C;
     }
     h2{
      text-align: center;
     }
    